{% extends "base.html" %}
{% block content_title %}{% endblock %}
{% block content %}   
<section id="content" class="body">
<h1>Sobre mí</h1>
<p>Soy <strong>joe di castro</strong> de <a href="http://es.wikipedia.org/wiki/La_Coru%C3%B1a">A Coruña</a>, soy SysAdmin y en mis ratos libres 
me dedico a programar. </p>

<p>Aunque por vocación, formación y experiencia profesional estoy ligado a la 
Informática a través de la administración de sistemas, después de varios años 
de relación de amor y odio con la programación, he sido finalmente seducido por 
un lenguaje de programación: <a href="http://es.wikipedia.org/wiki/Python">Python</a>. </p>

<p>Mi pasión por Python me llevó a crear un portal de Q&amp;A en español sobre Python, 
<a href="http://python.majibu.org">Python Majibu</a>. </p>

<p>En el pasado también he tenido mis escarceos con la fotografía y el diseño 
gráfico. Y soy un profundo apasionado de la música (sobre todo Jazz y Blues) y 
la literatura.</p>

<p>Si quieres contactar conmigo puedes enviarme un 
<a href="mailto:joe@joedicastro.com">correo</a> o encontrarme en <a
    href="http://twitter.com/joe_di_castro">twitter</a>, 
<a href="https://bitbucket.org/joedicastro">bitbucket</a> o <a href="http://github.com/joedicastro">github</a>.</p>

<h2>Sobre este sitio</h2>
<p>Me encanta la elegancia de lo sencillo, <em>menos es más</em>, por eso admiro tanto a 
Linux como a Python. Es la esencia misma de este sitio, basado en contenido 
estático y en un diseño limpio y legible. Creado con un programa en Python, <a href="http://alexis.notmyidea.org/pelican/">Pelican</a>, a partir de 
ficheros de texto simple en formato <a href="http://es.wikipedia.org/wiki/Markdown">Markdown</a>. Porque, lo simple 
funciona y además, funciona bien.</p>

</section>
{% endblock content %}
