html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td{background:transparent;border:0;font-size:100%;margin:0;outline:0;padding:0;vertical-align:baseline;}
body{line-height:1;}
ol, ul{list-style:none;}
blockquote, q{quotes:none;}
blockquote:before, blockquote:after, q:before, q:after{content:'';content:none;}
:focus{outline:0;}
ins{text-decoration:none;}
del{text-decoration:line-through;}
table{border-collapse:separate;border-spacing:0;}
body{background:#FFF;color:#000305;font-family:Palatino,"Palatino Linotype",Georgia,serif;font-size:18px;line-height:1.429;margin:0;padding:0;text-align:left;}
h1{font-size:42px;line-height:46px;}
h2{font-size:32px;line-height:36px;}
h3{font-size:26px;line-height:30px;}
h4{font-size:18px;line-height:22px;}
h5{font-size:15px;line-height:19px;}
h6{font-size:11px;line-height:15px;}
h1, h2, h3, h4, h5, h6{font-weight:normal;font-family:"Vollkorn",Georgia,serif;color:#222;}
h1, h2 { margin: 10px 0 25px 0;}
h3, h4, h5 {margin:10px 0;}
hr {padding: 0;border:none;border-top: 5px double #ddd;color:#666;text-align:center;height:20px;}
hr:after {content:"ยง";display:inline-block;position:relative;top:-18px;font-size:19px;padding:0 4px;background:white;font-style:oblique;font-style:bold;}
a{outline:0;}
a img{border:0px;text-decoration:none;}
a:link, a:visited{color:Maroon;padding:0 1px;text-decoration:none;font-weight:bold;}
a:hover, a:active{color:#4682B4;text-decoration:none;text-shadow:1px 1px 3px #888;}
h1 a:hover{background-color:inherit}
p{margin-bottom:25px;}
strong, b{font-weight:bold;}
em, i{font-style:italic;}
ul{list-style:outside disc;margin:5.4px 0 18px 27px;}
ol{list-style:outside decimal;margin:18px 0 27px 27px;}
.readmore{float:right}
dl{margin:0 0 27px 0;}
dt{font-weight:bold;}
dd{margin-left:27px;}
pre{background-color:#FAFAFA;padding:10px 10px 10px 20px;margin:10px;overflow:auto;font-size:15px;font-family:Consolas,Monaco,Liberation Mono,Lucida Console,Monospace;}
.no_mrkdwn{overflow-x:hidden;overflow-y:hidden;white-space:pre-wrap;font-family:Consolas,Monaco,Liberation Mono,Lucida Console,Monospace;box-shadow:0 2px 3px rgba(0, 0, 0, 0.3);border:1px solid lightGray;}
blockquote{margin:20px;font-style:italic;}
cite{}
q{}
code{font-family:Consolas,Monaco,Liberation Mono,Lucida Console,Monospace;font-size:15px;background-color:#eee;}
abbr{text-decoration:underline}
sup{vertical-align:super;font-size:12px;}
table{margin:9px auto 27px auto;width:98%;font-size:15px;}
thead{font-weight:bold;}
thead th{padding:0px 6px;text-align:center;color: #fff;border:2px solid #fff;background:#999;}
thead td{}
tbody td{padding:6px 4px;vertical-align:middle;}
tbody th{}
tbody .alt td{}
tbody .alt th{}
tfoot th{}
tfoot td{}
header, section, footer, aside, nav, article, figure{display:block;}
.body{clear:both;margin:0 auto;width:790px;}
img.right figure.right{float:right;margin:0 0 36px 36px;}
img.left, figure.left{float:right;margin:0 0 36px 36px;}
#banner{margin:0 auto;padding:45px 0 0 0;}
#banner h1{font-size:41.4px;float:left;}
#banner h1 a:link, #banner h1 a:visited{color:#B8860B;display:block;font-weight:bold;margin:0 0 0 3.6px;text-decoration:none;font-family: serif;}
#banner h1 a:hover, #banner h1 a:active{background:none;color:#A52A2A;text-shadow:none;}
#banner h1 strong{font-size:6.48px;font-weight:normal;}
#banner nav{float:right;font-size:16px;height:40px;line-height:30px;margin:0 auto 36px auto;padding:0;font-family: Helvetica;}
#banner nav ul{list-style:none;margin:0 auto;}
#banner nav li{display:inline;margin:0;}
#banner nav a:link, #banner nav a:visited{color:#000;display:inline-block;padding:5px 12.6px;}
#banner nav a:hover, #banner nav a:active, #banner nav .active a:link, #banner nav .active a:visited{background:none;color:#e25402;;text-shadow:none !important;}
#content{margin-bottom:36px;overflow:hidden;padding:20px 20px;width:761px;}
#about{font-size:12px;font-style:normal;margin-bottom:36px;overflow:hidden;padding:0px 20px;text-align:left;width:761px;}
#about .primary{float:left;width:165px;}
#about .primary strong{color:#C64350;display:block;font-size:23.15px;}
#about .photo{float:left;margin:5px 20px;}
#about .url:link, #about .url:visited{text-decoration:none;}
#about .bio{float:right;width:500px;}
#contentinfo{padding-bottom:36px;text-align:right;}
.hentry{display:block;clear:both;border-bottom:2px solid #eee;padding-top:8px;}
li:last-child .hentry, #content > .hentry{border:0;margin:0;}
#content > .hentry{padding:18px 0;}
.hentry img{display:none;}
.entry-title{margin-top:0;}
.entry-title a:link, .entry-title a:visited{text-decoration:none;color:#333;font-weight:normal;}
.entry-title a:visited{background-color:#fff;}
.hentry footer{margin-bottom:36px;}
.hentry footer address{display:inline;}
#posts-list footer address{display:block;}
#posts-list{list-style:none;margin:0;}
#posts-list .hentry{position:relative;}
#posts-list footer{left:10px;position:relative;float:left;top:9px;width:190px;}
#paginator{list-style:none;margin:0;padding-top:18px;text-align: center}
#paginator a{font-size:large;}
#paginator img{vertical-align:text-bottom;}
#license{float:right;}
.published{float:left;margin-bottom:30px;width:100%;font-style:italic;text-decoration:none;margin-top:-30px;}
.tagged{font-style:italic;text-align:right;padding-top:20px;}
.comments{font-size:16px;}
#cloud{list-style-type:none;}
#cloud li{float:left;margin-right:12px;}
#cloud a{text-decoration:none;}
#cloud .tag-0{font-size:56px;line-height:0.5}
#cloud .tag-1{font-size:42px;line-height:1;}
#cloud .tag-2{font-size:28px;line-height:1.5;}
#cloud .tag-3{font-size:21px;line-height:2;}
#cloud .tag-4{font-size:14px;line-height:3;}
.year{text-align:right;border-bottom:1px solid #ddd;color:#708090;}
.month{}
.day{padding-right:5px;font-style:italic;color:#C0C0C0;font-weight:bold;}
.hll{background-color:#FFFFCC;}
.c{color:#8F5902;font-style:italic;}
.err{border-bottom-color:#EF2929;border-bottom-style:solid;border-bottom-width:1px;border-top-color:#EF2929;border-top-style:solid;border-top-width:1px;color:#A40000;}
.g{color:#000000;}
.k{color:#204A87;font-weight:bold;}
.l{color:#000000;}
.n{color:#000000;}
.o{color:#CE5C00;font-weight:bold;}
.x{color:#000000;}
.p{color:#000000;font-weight:bold;}
.cm{color:#8F5902;font-style:italic;}
.cp{color:#8F5902;font-style:italic;}
.c1{color:#8F5902;font-style:italic;}
.cs{color:#8F5902;font-style:italic;}
.gd{color:#A40000;}
.ge{color:#000000;font-style:italic;}
.gr{color:#EF2929;}
.gh{color:#000080;font-weight:bold;}
.gi{color:#00A000;}
.go{color:#000000;font-style:italic;}
.gp{color:#8F5902;}
.gs{color:#000000;font-weight:bold;}
.gu{color:#800080;font-weight:bold;}
.gt{color:#A40000;font-weight:bold;}
.kc{color:#204A87;font-weight:bold;}
.kd{color:#204A87;font-weight:bold;}
.kn{color:#204A87;font-weight:bold;}
.kp{color:#204A87;font-weight:bold;}
.kr{color:#204A87;font-weight:bold;}
.kt{color:#204A87;font-weight:bold;}
.ld{color:#000000;}
.m{color:#0000CF;font-weight:bold;}
.s{color:#4E9A06;}
.na{color:#C4A000;}
.nb{color:#204A87;}
.nc{color:#000000;}
.no{color:#000000;}
.nd{color:#5C35CC;font-weight:bold;}
.ni{color:#CE5C00;}
.ne{color:#CC0000;font-weight:bold;}
.nf{color:#000000;}
.nl{color:#F57900;}
.nn{color:#000000;}
.nx{color:#000000;}
.py{color:#000000;}
.nt{color:#204A87;font-weight:bold;}
.nv{color:#000000;}
.ow{color:#204A87;font-weight:bold;}
.w{color:#F8F8F8;text-decoration:underline;}
.mf{color:#0000CF;font-weight:bold;}
.mh{color:#0000CF;font-weight:bold;}
.mi{color:#0000CF;font-weight:bold;}
.mo{color:#0000CF;font-weight:bold;}
.sb{color:#4E9A06;}
.sc{color:#4E9A06;}
.sd{color:#8F5902;font-style:italic;}
.s2{color:#4E9A06;}
.se{color:#4E9A06;}
.sh{color:#4E9A06;}
.si{color:#4E9A06;}
.sx{color:#4E9A06;}
.sr{color:#4E9A06;}
.s1{color:#4E9A06;}
.ss{color:#4E9A06;}
.bp{color:#3465A4;}
.vc{color:#000000;}
.vg{color:#000000;}
.vi{color:#000000;}
.il{color:#0000CF;font-weight:bold;}
pre{color:#7F7F7F;}
#cse-search-results iframe{width: 760px;height:1300px;}
.codehilite:before, .codehilite:after {content: "";position: absolute;z-index: -1;-ms-transform: skew(-3deg,-2deg);-webkit-transform: skew(-3deg,-2deg);-o-transform: skew(-3deg,-2deg);-moz-transform: skew(-3deg,-2deg);bottom: 14px;	box-shadow: 0 15px 5px rgba(0, 0, 0, 0.3);height: 50px;left: 1px;max-width: 50%;width: 50%;}
.codehilite:after {-ms-transform: skew(3deg,2deg); -webkit-transform: skew(3deg,2deg);-o-transform: skew(3deg,2deg);-moz-transform: skew(3deg,2deg);left:auto;right:1px;}
.codehilite {position:relative;padding:1px;background:#FAFAFA;box-shadow: 0px 0px 1px 1px rgba(0,0,0,0.2);-o-box-shadow: 0px 0px 1px 1px  rgba(0,0,0,0.2);-moz-box-shadow: 0px 0px 1px 1px  rgba(0,0,0,0.2);margin:25px;}