html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td{background:transparent;border:0;font-size:100%;margin:0;outline:0;padding:0;vertical-align:baseline;}
body{line-height:1;}
ol, ul{list-style:none;}
blockquote, q{quotes:none;}
blockquote:before, blockquote:after, q:before, q:after{content:'';content:none;}
:focus{outline:0;}
ins{text-decoration:none;}
del{text-decoration:line-through;}
table{border-collapse:collapse;border-spacing:0;}
body{background:#F8F8F8;color:#000305;font-size:87.5%;font-family:'Trebuchet MS', Trebuchet, 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;line-height:1.429;margin:0;padding:0;text-align:left;}
h1{font-size:2em}
h2{font-size:1.571em}
h3{font-size:1.429em}
h4{font-size:1.286em}
h5{font-size:1.143em}
h6{font-size:1em}
h1, h2, h3, h4, h5, h6{font-weight:400;line-height:1.1;margin-bottom:.8em;font-family:"Trebuchet MS","Myriad Pro","Bitstream Vera Sans",FreeSans,sans-serif;}
h3, h4, h5, h6{margin-top:.8em;}
hr{border:2px solid #EEEEEE;}
a{outline:0;}
a img{border:0px;text-decoration:none;}
a:link, a:visited{color:#A52A2A;padding:0 1px;text-decoration:none;font-weight:bold;}
a:hover, a:active{color:#4682B4;text-decoration:none;text-shadow:1px 1px 3px #888;}
h1 a:hover{background-color:inherit}
p{margin-bottom:1.143em;}
strong, b{font-weight:bold;}
em, i{font-style:italic;}
ul{list-style:outside disc;margin:0.3em 0 1.0em 1.5em;}
ol{list-style:outside decimal;margin:1em 0 1.5em 1.5em;}
.readmore{float:right}
dl{margin:0 0 1.5em 0;}
dt{font-weight:bold;}
dd{margin-left:1.5em;}
pre{background-color:#FAFAFA;padding:10px 10px 10px 20px;margin:10px;overflow:auto;font-size:1.05em;border:1px solid #ddd;font-family:Consolas,Monaco,Liberation Mono,Lucida Console,Monospace;}
.no_mrkdwn{overflow-x:hidden;overflow-y:hidden;white-space:pre-wrap;font-family:Consolas,Monaco,Liberation Mono,Lucida Console,Monospace;}
blockquote{margin:20px;font-style:italic;}
cite{}
q{}
code{font-family:Consolas,Monaco,Liberation Mono,Lucida Console,Monospace;font-size:100%;background-color:#eee;}
abbr{text-decoration:underline}
sup{vertical-align:super}
table{margin:.5em auto 1.5em auto;width:98%;}
thead{background:#333333;color:#fff;font-weight:bold;}
thead th{padding:.4em .4em;text-align:left;}
thead td{}
tbody td{padding:.4em .4em;vertical-align:middle;}
tbody th{}
tbody .alt td{}
tbody .alt th{}
tfoot th{}
tfoot td{}
header, section, footer, aside, nav, article, figure{display:block;}
.body{clear:both;margin:0 auto;width:800px;}
img.right figure.right{float:right;margin:0 0 2em 2em;}
img.left, figure.left{float:right;margin:0 0 2em 2em;}
#banner{margin:0 auto;padding:2.5em 0 0 0;}
#banner h1{font-size:2.3em;float:left;}
#banner h1 a:link, #banner h1 a:visited{color:#B8860B;display:block;font-weight:bold;margin:0 0 0 0.2em;text-decoration:none;font-family: serif;}
#banner h1 a:hover, #banner h1 a:active{background:none;color:#A52A2A;text-shadow:none;}
#banner h1 strong{font-size:0.36em;font-weight:normal;}
#banner nav{float:right;font-size:1.143em;height:40px;line-height:30px;margin:0 auto 2em auto;padding:0;font-family: Helvetica;}
#banner nav ul{list-style:none;margin:0 auto;}
#banner nav li{display:inline;margin:0;}
#banner nav a:link, #banner nav a:visited{color:#000;display:inline-block;padding:5px 0.7em;}
#banner nav a:hover, #banner nav a:active, #banner nav .active a:link, #banner nav .active a:visited{background:none;color:#e25402;;text-shadow:none !important;}
#featured{background:#fff;margin-bottom:2em;overflow:hidden;padding:20px;width:760px;border:1px solid #E1E1E1;box-shadow:0px 4px 5px #ccc;}
#featured figure{border:2px solid #eee;float:right;margin:0.786em 2em 0 5em;width:248px;}
#featured figure img{display:block;float:right;}
#featured h2{color:#e25402;font-size:1.714em;margin-bottom:0.333em;}
#featured h3{font-size:1.429em;margin-bottom:.5em;}
#featured h3 a:link, #featured h3 a:visited{color:#000305;text-decoration:none;}
#featured h3 a:hover, #featured h3 a:active{color:#4682B4;}
#content{background:#fff;margin-bottom:2em;overflow:hidden;padding:20px 20px;width:760px;border:1px solid #E1E1E1;box-shadow:0px 4px 5px #ccc;}
#about{font-size:0.9em;font-style:normal;margin-bottom:2em;overflow:hidden;padding:0px 20px;text-align:left;width:760px;}
#about .primary{float:left;width:165px;}
#about .primary strong{color:#C64350;display:block;font-size:1.286em;}
#about .photo{float:left;margin:5px 20px;}
#about .url:link, #about .url:visited{text-decoration:none;}
#about .bio{float:right;width:500px;}
#contentinfo{padding-bottom:2em;text-align:right;}
.hentry{display:block;clear:both;border-bottom:1px solid #eee;padding:1.5em 0;}
li:last-child .hentry, #content > .hentry{border:0;margin:0;}
#content > .hentry{padding:1em 0;}
.hentry img{display:none;}
.entry-title{font-size:3em;margin-bottom:10px;margin-top:0;}
.entry-title a:link, .entry-title a:visited{text-decoration:none;color:#333;font-size:70%;}
.entry-title a:visited{background-color:#fff;}
.hentry footer{margin-bottom:2em;}
.hentry footer address{display:inline;}
#posts-list footer address{display:block;}
#posts-list{list-style:none;margin:0;}
#posts-list .hentry{padding-left:10px;position:relative;}
#posts-list footer{left:10px;position:relative;float:left;top:0.5em;width:190px;}
#paginator{list-style:none;margin:0;padding-top:1em;}
#paginator a{font-size:large;}
#paginator img{vertical-align:text-bottom;}
#about-author{background:#f9f9f9;clear:both;font-style:normal;margin:2em 0;padding:10px 20px 15px 20px;}
#about-author strong{color:#C64350;clear:both;display:block;font-size:1.429em;}
#about-author .photo{border:1px solid #ddd;float:left;margin:5px 1em 0 0;}
#license{float:right;}
.published{float:left;margin-bottom:30px;width:100%;font-style:italic;text-decoration:none;}
.tagged{font-style:italic;}
#cloud{list-style-type:none;}
#cloud li{float:left;margin-right:12px;}
#cloud a{text-decoration:none;}
#cloud .tag-0{font-size:4em;line-height:0.5}
#cloud .tag-1{font-size:3em;line-height:1;}
#cloud .tag-2{font-size:2em;line-height:1.5;}
#cloud .tag-3{font-size:1.5em;line-height:2;}
#cloud .tag-4{font-size:1em;line-height:3;}
.year{text-align:right;border-bottom:1px solid #ddd;color:#708090;}
.month{}
.day{padding-right:5px;font-style:italic;color:#C0C0C0;}
.hll{background-color:#FFFFCC;}
.c{color:#8F5902;font-style:italic;}
.err{border-bottom-color:#EF2929;border-bottom-style:solid;border-bottom-width:1px;border-top-color:#EF2929;border-top-style:solid;border-top-width:1px;color:#A40000;}
.g{color:#000000;}
.k{color:#204A87;font-weight:bold;}
.l{color:#000000;}
.n{color:#000000;}
.o{color:#CE5C00;font-weight:bold;}
.x{color:#000000;}
.p{color:#000000;font-weight:bold;}
.cm{color:#8F5902;font-style:italic;}
.cp{color:#8F5902;font-style:italic;}
.c1{color:#8F5902;font-style:italic;}
.cs{color:#8F5902;font-style:italic;}
.gd{color:#A40000;}
.ge{color:#000000;font-style:italic;}
.gr{color:#EF2929;}
.gh{color:#000080;font-weight:bold;}
.gi{color:#00A000;}
.go{color:#000000;font-style:italic;}
.gp{color:#8F5902;}
.gs{color:#000000;font-weight:bold;}
.gu{color:#800080;font-weight:bold;}
.gt{color:#A40000;font-weight:bold;}
.kc{color:#204A87;font-weight:bold;}
.kd{color:#204A87;font-weight:bold;}
.kn{color:#204A87;font-weight:bold;}
.kp{color:#204A87;font-weight:bold;}
.kr{color:#204A87;font-weight:bold;}
.kt{color:#204A87;font-weight:bold;}
.ld{color:#000000;}
.m{color:#0000CF;font-weight:bold;}
.s{color:#4E9A06;}
.na{color:#C4A000;}
.nb{color:#204A87;}
.nc{color:#000000;}
.no{color:#000000;}
.nd{color:#5C35CC;font-weight:bold;}
.ni{color:#CE5C00;}
.ne{color:#CC0000;font-weight:bold;}
.nf{color:#000000;}
.nl{color:#F57900;}
.nn{color:#000000;}
.nx{color:#000000;}
.py{color:#000000;}
.nt{color:#204A87;font-weight:bold;}
.nv{color:#000000;}
.ow{color:#204A87;font-weight:bold;}
.w{color:#F8F8F8;text-decoration:underline;}
.mf{color:#0000CF;font-weight:bold;}
.mh{color:#0000CF;font-weight:bold;}
.mi{color:#0000CF;font-weight:bold;}
.mo{color:#0000CF;font-weight:bold;}
.sb{color:#4E9A06;}
.sc{color:#4E9A06;}
.sd{color:#8F5902;font-style:italic;}
.s2{color:#4E9A06;}
.se{color:#4E9A06;}
.sh{color:#4E9A06;}
.si{color:#4E9A06;}
.sx{color:#4E9A06;}
.sr{color:#4E9A06;}
.s1{color:#4E9A06;}
.ss{color:#4E9A06;}
.bp{color:#3465A4;}
.vc{color:#000000;}
.vg{color:#000000;}
.vi{color:#000000;}
.il{color:#0000CF;font-weight:bold;}
pre{color:#7F7F7F;}
#cse-search-results iframe{width: 760px;height:1300px;}